<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'plans.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let plan of getPlans() | async" (click)="planSelected(plan)">
      {{plan.title}}
      <p>
        {{plan.description}}
      </p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="addPlanClicked($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
