<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'plans.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="plans__list">
    <ion-item-sliding *ngFor="let plan of plans">
      <ion-item (click)="planSelected(plan)">
        {{plan.title}}
        <p>
          {{plan.description}}
        </p>
      </ion-item>
      <ion-item-options icon-start side="right" (ionSwipe)="confirmDeletePlan(plan)">
        <button ion-button expandable color="danger" (click)="confirmDeletePlan(plan)">
          <ion-icon name="trash"></ion-icon>
          {{'delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="addPlanClicked($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
