<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissWorkoutClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'workout-edit.title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="saveWorkoutClicked()">
        {{'save' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>
        {{'workout-edit.date.label' | translate}}
      </ion-label>
      <ion-datetime displayFormat="{{'shortDateDisplayFormat' | translate}}" pickerFormat="{{'shortDatePickerFormat' | translate}}" [(ngModel)]="start" monthShortNames="{{'shortMonthNames' | translate | split:','}}"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>
        {{'workout-edit.start.label' | translate}}
      </ion-label>
      <ion-datetime displayFormat="{{'shortTimeDisplayFormat' | translate}}" pickerFormat="{{'shortTimePickerFormat' | translate}}" [(ngModel)]="start"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>
        {{'workout-edit.end.label' | translate}}
      </ion-label>
      <ion-datetime displayFormat="{{'shortTimeDisplayFormat' | translate}}" pickerFormat="{{'shortTimePickerFormat' | translate}}" [(ngModel)]="end"></ion-datetime>
    </ion-item>

    <ion-list-header>
      {{'workout-edit.tracked-sets' | translate}}
    </ion-list-header>
    <ion-item *ngIf="workout.sets.length === 0">
      <em>{{'workout-edit.no-sets-tracked' | translate}}</em>
    </ion-item>

    <set-edit *ngFor="let set of workout.sets"
      [set]="set"
      [goalIndex]="getGoalIndex(set)"
      [actionIndex]="getActionIndex(set)"
    ></set-edit>
  </ion-list>
</ion-content>
