<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissPlanClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="plan.id == 0">{{'plan-add.title' | translate}}</ion-title>
    <ion-title *ngIf="plan.id > 0">{{'plan-edit.title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="savePlanClicked()">
        {{'save' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>
        {{'plan.title' | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="plan.title" (ngModelChange)="planChanged()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        {{'plan.description' | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="plan.description" (ngModelChange)="planChanged()"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>
        {{'plan.goals' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item class="goals">
      <ion-card class="goals-card">
        <ion-fab top right edge class="fab-add-goal">
          <button ion-fab mini (click)="addGoalClicked($event)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
        <ion-list>
          <ion-item *ngFor="let goal of plan.goals" (click)="goalSelected(goal)">
            {{goal.exercise.title}}
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
