<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissPlanClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="plan.id == 0">{{'plan-add.title' | translate}}</ion-title>
    <ion-title *ngIf="plan.id > 0">{{'plan-edit.title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="savePlanClicked()">
        {{'save' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>
        {{'plan.title' | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="plan.title" (ngModelChange)="planChanged()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        {{'plan.description' | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="plan.description" (ngModelChange)="planChanged()"></ion-input>
    </ion-item>

    <ion-list-header>
      {{'plan.goals' | translate}}
    </ion-list-header>
    <ion-item class="goals">
      <ion-card class="goals-card">
        <ion-card-content>
          <ion-fab top right edge class="fab-add-goal">
            <button ion-fab mini color="accent" (click)="addGoalClicked($event)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
          <ion-list reorder="true" (ionItemReorder)="reorderGoals($event)" class="goals__list">
            <ion-item-sliding *ngFor="let goal of plan.goals; let i=index">
              <ion-item (click)="goalSelected(goal)">
                <strong>#{{i+1}}</strong> {{goal.exercise.title}}
              </ion-item>
              <ion-item-options icon-start side="right" (ionSwipe)="confirmDeleteGoal(goal)">
                <button ion-button expandable color="danger" (click)="confirmDeleteGoal(goal)">
                  <ion-icon name="trash"></ion-icon>
                  {{'delete' | translate}}
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
