<calories-control-large *ngIf="isCalories()"
  [original]="original"
  [actual]="actual"
  (change)="emitChange()"
  (complete)="emitComplete()">
</calories-control-large>
<distance-control-large *ngIf="isDistance()"
  [original]="original"
  [actual]="actual"
  (change)="emitChange()"
  (complete)="emitComplete()">
</distance-control-large>
<duration-control-large *ngIf="isDuration()"
  [original]="original"
  [actual]="actual"
  (change)="emitChange()"
  (complete)="emitComplete()"
  (restored)="emitRestored()"
  (started)="emitStarted()"
  (paused)="emitPaused()">
</duration-control-large>
<repetitions-control-large *ngIf="isRepetitions()"
  [original]="original"
  [actual]="actual"
  (change)="emitChange()"
  (complete)="emitComplete()">
</repetitions-control-large>
<weight-control-large *ngIf="isWeight()"
  [original]="original"
  [actual]="actual"
  (change)="emitChange()"
  (complete)="emitComplete()">
</weight-control-large>
