<calories-display *ngIf="isCalories()" [measurement]="measurement" [short]="short"></calories-display>
<distance-display *ngIf="isDistance()" [measurement]="measurement" [short]="short"></distance-display>
<duration-display *ngIf="isDuration()" [measurement]="measurement" [short]="short"></duration-display>
<repetitions-display *ngIf="isRepetitions()" [measurement]="measurement" [short]="short"></repetitions-display>
<weight-display *ngIf="isWeight()" [measurement]="measurement" [short]="short"></weight-display>
