<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'workouts.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content class="workout-cards__content">
  <ion-list no-lines class="workout-cards__list">
    <ion-item *ngIf="true || workoutCards.length === 0">
      <ion-card>
        <ion-card-header>
          {{'workouts.welcome.header' | translate}}
        </ion-card-header>
        <ion-card-content>
          <p text-wrap>
            {{'workouts.welcome.intro' | translate}}
          </p>
          <ion-grid>
            <ion-row>
              <ion-col col-auto align-self-center>
                <img src="assets/img/noun_318.png"
                  style="width: 56px !important; height: 56px !important;">
              </ion-col>
              <ion-col>
                <h2>{{'workouts.welcome.exercises.header' | translate}}</h2>
                <p text-wrap>
                  {{'workouts.welcome.exercises.description' | translate}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-auto align-self-center>
                <img src="assets/img/noun_577567_cc.png"
                  style="width: 56px !important; height: 56px !important;">
              </ion-col>
              <ion-col>
                <h2>{{'workouts.welcome.plans.header' | translate}}</h2>
                <p text-wrap>
                  {{'workouts.welcome.plans.description' | translate}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-auto align-self-center>
                <img src="assets/img/noun_556966_cc.png"
                  style="width: 56px !important; height: 56px !important;">
              </ion-col>
              <ion-col>
                <h2>{{'workouts.welcome.workouts.header' | translate}}</h2>
                <p text-wrap>
                  {{'workouts.welcome.workouts.description' | translate}}
                </p>
              </ion-col>
              <ion-col col-auto align-self-center>
                <button ion-fab color="accent" (click)="startWorkoutClicked($event)">
                  <ion-icon name="play"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item-sliding *ngFor="let workoutCard of workoutCards; let i=index">
      <ion-item *ngIf="workoutCard.transient && workoutCard.transient.workout">
        <ion-card (click)="workoutCardSelected(workoutCard)">
          <ion-card-header>
            {{formatWorkoutDate(workoutCard) | async}}
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col [ngSwitch]="formatWorkoutMood(workoutCard)" col-auto align-self-center>
                  <img *ngSwitchCase="'happy'" src="assets/img/emoji_happy.png"
                    style="width: 56px !important; height: 56px !important;">
                  <img *ngSwitchCase="'neutral'" src="assets/img/emoji_neutral.png"
                    style="width: 56px !important; height: 56px !important;">
                  <img *ngSwitchCase="'unhappy'" src="assets/img/emoji_unhappy.png"
                    style="width: 56px !important; height: 56px !important;">
                  <img *ngSwitchCase="'unknown'" src="assets/img/emoji_unknown.png"
                    style="width: 56px !important; height: 56px !important;">
                </ion-col>
                <ion-col align-self-center>
                  {{workoutCard.transient.workout.plan.title | translate}}
                  <p text-wrap>
                    {{'workouts.workout-score.before' | translate}}<ion-icon name="star" color="accent"></ion-icon> {{formatScore(workoutCard) | async}}{{'workouts.workout-score.after' | translate}}
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options icon-start side="right" (ionSwipe)="confirmDeleteWorkoutCard(workoutCard)">
        <button ion-button expandable color="danger" (click)="confirmDeleteWorkoutCard(workoutCard)">
          <ion-icon name="trash"></ion-icon>
          {{'delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="startWorkoutClicked($event)">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
