<div class="action-step">
  <ion-grid class="grid" no-padding>
    <ion-row class="row" align-items-center>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <strong>
              {{'workout.action-step.current-exercise' | translate}}
              <ion-icon name="jet"></ion-icon>
            </strong>
            {{step.set.exercise.title | translate}}
          </ion-card-header>
          <ion-card-content>
            <p *ngIf="step.set.exercise.description">
              <em>{{step.set.exercise.description | translate}}</em>
            </p>
            <p class="action-step__measurements">
              <span *ngFor="let measurement of step.measurements; let i=index" class="action-step__measurement">
                <measurement-display [measurement]="measurement.original">
                </measurement-display>
              </span>
            </p>
          </ion-card-content>
        </ion-card>

        <measurement-control-large *ngFor="let measurement of step.measurements"
          [original]="measurement.original"
          [actual]="measurement.actual"
          (complete)="emitComplete()">
        </measurement-control-large>

        <ion-card>
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row justify-content-between>
                <ion-col>
                  <button ion-button clear (click)="moodUnhappyClicked()" style="height: 56px;">
                    <img *ngIf="isUnhappy()" src="assets/img/emoji_unhappy.png"
                      style="width: 56px !important; height: 56px !important;">
                    <img *ngIf="!isUnhappy()" src="assets/img/emoji_unhappy_bw.png"
                      style="width: 56px !important; height: 56px !important;">
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button clear (click)="moodNeutralClicked()" style="height: 56px;">
                    <img *ngIf="isNeutral()" src="assets/img/emoji_neutral.png"
                      style="width: 56px !important; height: 56px !important;">
                    <img *ngIf="!isNeutral()" src="assets/img/emoji_neutral_bw.png"
                      style="width: 56px !important; height: 56px !important;">
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button clear (click)="moodHappyClicked()" style="height: 56px;">
                    <img *ngIf="isHappy()" src="assets/img/emoji_happy.png"
                      style="width: 56px !important; height: 56px !important;">
                    <img *ngIf="!isHappy()" src="assets/img/emoji_happy_bw.png"
                      style="width: 56px !important; height: 56px !important;">
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-content>
            <ion-item class="note-item">
              <ion-label stacked>
                {{'workout.action-step.note.label' | translate}}
              </ion-label>
              <ion-input type="text" [(ngModel)]="step.set.note"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
