.action-step {
  height: 100%;

  .grid {
    min-height: 100%;
    justify-content: center;
  }

  &__measurements {
    .action-step__measurement:not(:last-child)::after {
      content: ' - ';
    }
  }
}

.note-item {
  padding-left: 0 !important;
}
