<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissExerciseClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!edit">{{'exercise-add.title' | translate}}</ion-title>
    <ion-title *ngIf="edit">{{'exercise-edit.title' | translate}}</ion-title>
    <ion-buttons end>
      <button *ngIf="edit" ion-button icon-only (click)="deleteExerciseClicked()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="saveExerciseClicked()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>
        {{'exercise.title' | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="exercise.title" (ngModelChange)="exerciseChanged()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        {{'exercise.description' | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="exercise.description" (ngModelChange)="exerciseChanged()"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>
        {{'exercise.difficulty' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="exercise.difficulty" (ngModelChange)="exerciseChanged()" [min]="1" [max]="6" [step]="1">
        <ion-label range-left>
          {{'exercise.difficulty.easy' | translate}}
        </ion-label>
        <ion-label range-right>
          {{'exercise.difficulty.hard' | translate}}
        </ion-label>
      </ion-range>
    </ion-item>

    <ion-list-header>
      <ion-label>
        {{'exercise.measures' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let measure of measures">
      <ion-label>
        {{measure.key | translate}}
      </ion-label>
      <ion-checkbox [(ngModel)]="measure.checked" (ngModelChange)="measureToggled(measure)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
