<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'exercises.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="exercises__list">
    <ion-item *ngIf="exercises.length === 0">
      <em>{{'exercises.no-exercises' | translate}}</em>
    </ion-item>
    <ion-item-sliding *ngFor="let exercise of exercises">
      <ion-item (click)="exerciseSelected(exercise)">
        {{exercise.title | translate}}
        <p *ngIf="exercise.description">
          {{exercise.description | translate}}
        </p>
      </ion-item>
      <ion-item-options icon-start side="right" (ionSwipe)="confirmDeleteExercise(exercise)">
        <button ion-button expandable color="danger" (click)="confirmDeleteExercise(exercise)">
          <ion-icon name="trash"></ion-icon>
          {{'delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="addExerciseClicked($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
