<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'exercises.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let exercise of getExercises() | async" (click)="exerciseSelected(exercise)">
      {{exercise.title}}
      <p>
        {{exercise.description}}
      </p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="addExerciseClicked($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
