.entry-list {
  .entry-list__item {
    padding-left: 0;

    & > .item-inner {
      & > .input-wrapper {
        margin-right: -64px;

        & > ion-label {
          margin: 0;
        }
      }

      & > ion-reorder {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }

  .entry-list__item.reorder-active {
    box-shadow: none;
  }

  .entry {
    .entry-header {
      display: flex;
      align-items: center;
      padding-right: 0;

      .entry-header__button-more {
        margin: 0;
      }

      .entry-header__button-trash {
        margin: 0;
      }
    }
  }
}
