<ion-header class="header">
  <ion-navbar class="header__navbar">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissGoalClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="goal.id == 0">{{'goal-add.title' | translate}}</ion-title>
    <ion-title *ngIf="goal.id > 0">{{'goal-edit.title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="saveGoalClicked()">
        {{'save' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-row class="row-exercise">
    <ion-item>
      <ion-label>
        {{'exercise' | translate}}
      </ion-label>
      <ion-select [(ngModel)]="exercise" (ngModelChange)="exerciseSelected()">
        <ion-option *ngFor="let exercise of getExercises() | async" [value]="exercise.id">
          {{exercise.title}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
</ion-header>

<ion-content>
  <ion-list no-lines class="entry-list">
    <ion-list-header>
      <ion-label>
        {{'entries' | translate}}
      </ion-label>
    </ion-list-header>
  </ion-list>

  <ion-card *ngIf="goal.entries.length == 0">
    <ion-card-content>
      <em>{{'entries-no' | translate}}</em>
    </ion-card-content>
  </ion-card>
  
  <ion-list no-lines reorder="true" (ionItemReorder)="reorderEntries($event)" class="entry-list">
    <ion-item *ngFor="let entry of goal.entries" class="entry-list__item">
      <entry-pause *ngIf="isPause(entry)" [entry]="entry" (more)="openEntryPopoverMenu($event)" (change)="entryChanged($event)"></entry-pause>
      <entry-action *ngIf="isAction(entry)" [entry]="entry" (more)="openEntryPopoverMenu($event)" (change)="entryChanged($event)"></entry-action>
    </ion-item>
  </ion-list>

  <ion-fab right bottom #fabContainer class="fab-buttons-with-labels">
    <button ion-fab color="accent">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addActionClicked($event, fabContainer)" class="fab-button-with-label">
        <ion-icon name="walk" class="fab-button-icon"></ion-icon>
      </button>
      <button ion-fab (click)="addPauseClicked($event, fabContainer)" class="fab-button-with-label">
        <ion-icon name="body" class="fab-button-icon"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
