<ion-header>
  <ion-navbar>
    <ion-title>{{'goal-edit.title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-label>
        {{'exercise' | translate}}
      </ion-label>
      <ion-select [(ngModel)]="goal.exercise">
        <ion-option *ngFor="let exercise of getExercises() | async" [value]="exercise">
          {{exercise.title}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-list-header>
      <ion-label>
        {{'entries' | translate}}
      </ion-label>
    </ion-list-header>
  </ion-list>

  <ion-list no-lines reorder="true" (ionItemReorder)="reorderEntries($event)" class="entry-list">
    <ion-item *ngFor="let entry of goal.entries" class="entry-list__item">
      <entry-pause *ngIf="isPause(entry)" [entry]="entry" (more)="openEntryPopoverMenu($event)"></entry-pause>
      <entry-action *ngIf="isAction(entry)" [entry]="entry" (more)="openEntryPopoverMenu($event)"></entry-action>
    </ion-item>
  </ion-list>

  <ion-fab right bottom #fabContainer class="fab-buttons-with-labels">
    <button ion-fab color="accent">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addActionClicked($event, fabContainer)" class="fab-button-with-label">
        <ion-icon name="walk" class="fab-button-icon"></ion-icon>
      </button>
      <button ion-fab (click)="addPauseClicked($event, fabContainer)" class="fab-button-with-label">
        <ion-icon name="body" class="fab-button-icon"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
