<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissWorkoutClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ng-container *ngIf="activeStepEntryIsAction">
        {{'workout.title.set' | translate:({goalPosition: activeStepGoalIndex + 1, actionPosition: activeStepActionIndex + 1})}}
      </ng-container>
      <ng-container *ngIf="activeStepEntryIsPause">
        {{'workout.title.pause' | translate}}
      </ng-container>
    </ion-title>
    <ion-buttons end>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-auto align-self-center>
            <ion-icon name="star" color="accent"></ion-icon>
            <strong>{{score}}</strong>
          </ion-col>
          <ion-col align-self-center>
            <button ion-button clear (click)="saveWorkoutClicked()" class="bar-button-clear-md bar-button-clear">
              {{'save' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideDidChange)="stepChanged()" [zoom]="false">
    <ion-slide *ngFor="let step of steps" class="step-slide">
      <ion-content scroll="true" [style.position]="'static'" class="step-slide__content">
        <div [slide-host]="step"></div>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="workout-footer">
  <ion-grid no-padding>
    <ion-row justify-content-between>
      <ion-col align-self-center>
        <button [style.visibility]="activeStepIndex === 0 ? 'hidden' : ''" ion-button icon-start clear (click)="previousStepClicked()" class="bar-button-clear-md bar-button-clear workout-footer__button">
          <ion-icon name="arrow-back"></ion-icon>
          {{'back' | translate}}
        </button>
      </ion-col>
      <ion-col align-self-center col-2>
        <div *ngIf="previousActionStep as ps" class="previous-step">
          <h6 *ngIf="stepIsAction(ps)" class="previous-step__header">
            {{ps.set.exercise.title}}
          </h6>
          <h6 *ngIf="stepIsPause(ps)" class="previous-step__header">
            {{'workout.title.pause' | translate}}
          </h6>
          <p class="previous-step__measurements">
            <measurement-display *ngFor="let measurement of ps.measurements"
              [measurement]="measurement.actual"
              [short]="true">
            </measurement-display>
          </p>
        </div>
      </ion-col>

      <ion-col align-self-center col-auto>
        <div class="progress-bar">
          <progress-bar [min]="0" [max]="steps.length - 1" [value]="activeStepIndex" type="circle"></progress-bar>
        </div>
      </ion-col>

      <ion-col align-self-center col-2>
        <div *ngIf="nextActionStep as ns" class="next-step">
          <h6 *ngIf="stepIsAction(ns)" class="next-step__header">
            {{ns.set.exercise.title}}
          </h6>
          <h6 *ngIf="stepIsPause(ns)" class="next-step__header">
            {{'workout.title.pause' | translate}}
          </h6>
          <p class="next-step__measurements">
            <measurement-display *ngFor="let measurement of ns.measurements"
              [measurement]="measurement.actual"
              [short]="true">
            </measurement-display>
          </p>
        </div>
      </ion-col>
      <ion-col align-self-center>
        <button ion-button icon-end clear float-right (click)="nextStepClicked()" class="bar-button-clear-md bar-button-clear workout-footer__button">
          <ng-container *ngIf="activeStepIndex === steps.length - 1; else next">
            {{'finish' | translate}}
          </ng-container>
          <ng-template #next>
            {{'next' | translate}}
          </ng-template>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
