.step-slide {
  .slide-zoom {
    text-align: initial;
  }
}

.workout-footer {
  background-color: #fff;

  &__nav-button-col {
    width: 20%;
    flex-basis: 20%;
    max-width: 20%;
    overflow: hidden;
  }

  &__button {
    .button-inner {
      flex-flow: column;

      .icon {
        margin: 5px 0;
      }
    }
  }

  .previous-step {
    &__header {
      margin: 0;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__measurements {
      margin: 0;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .progress-bar-container {
    margin: 5px 10px;
  }

  .next-step {
    &__header {
      margin: 0;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__measurements {
      margin: 0;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
