.numeric-up-down-large {
  ion-col {
    padding: 0;
  }

  &__col-label {
    .item {
      padding-left: 0;
      border-bottom: none;

      .item-inner {
        padding-right: 0;
        border-bottom: none;
      }
    }
  }

  &__col-value {
    .item {
      padding-left: 0;

      .item-inner {
        padding-right: 0;

        .input-value {
          .text-input {
            text-align: right;
          }
        }
      }
    }
  }

  &__col-increment {
    .item {
      padding-left: 0;
      color: initial;

      .item-inner {
        padding-right: 0;
        border-bottom: none;
      }
    }
  }

  &__col-decrement {
    .item {
      padding-left: 0;
      color: initial;

      .item-inner {
        padding-right: 0;
        border-bottom: none;
      }
    }
  }

  &__col-unit {
    .item {
      padding-left: 0;

      .item-inner {
        padding-right: 0;
        border-bottom: none;

        ion-select {
          max-width: initial;
        }
      }
    }
  }
}

.item-input.item-input-no-bottom-border:last-child,
.item-input.item-input-no-bottom-border .item-inner {
  border-bottom: none !important;
}
